body {
  margin: 2% 0;
}

h1 {
  margin: 0 0 50px 0;
  font-family: 'Clicker Script', cursive;
  font-weight: 500;
  font-size: 70px;
}

.input-group {
  margin: 20px auto 30px;
  max-width: 400px;
}

.list-group {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.list-group-item {
  text-align: left;
}

.item-container {
  display: inline-block;
  max-width: 380px;
}

.icon-container {
  float: right;
}

.fa {
  padding: 0 10px;
  cursor: pointer;
}

.fa-times-circle-o {
  color: #ff4136;
  font-size: 21px;
}

.fa-edit {
  color: #23a127;
  font-size: 18px;
}

#edit-todo {
  margin-bottom: 30px;
}

button.close {
  margin-right: -4px;
  font-size: 0;
  line-height: 0;
}

.fa-times {
  font-size: 18px;
  padding: 0;
}

.modal-footer {
  text-align: center;
}

