<div class="item-container text-left">
    <%= model.get('title') %>
</div>
<div class="icon-container">
    <i class="fa fa-edit" title="edit" data-toggle="modal" data-target="#edit-modal"></i>
    <i class="fa fa-times-circle-o" title="delete"></i>
</div>